.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #225252; 
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add a subtle shadow */
}

.nav-links {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
    margin-left: -140px; 
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* To evenly distribute links */
}



.nav-links a {
  font-size: 14px;
  text-decoration: none;
  color: #96a79b;
  transition: color 0.3s, background-color 0.3s;
}
.nav-links a:hover{
  color: #fff; /* Change text color on hover */
  background-color: #225252; 
}

.buttons {
  display: flex;
  position: absolute;
  top: 50%;
  right: 20px;
  color: #1b4a2e;
  transform: translateX(450%) translateY(-70%);
}
.button {
  border: none;
  outline: none;
  background-color: #ccc;
  border-radius: 80px; 
  cursor: pointer;
  transition: background-color 0.3s; 

}



.button:hover {
  background-color: #4d933e; 
}
