
.container {
  position: fixed;
  width: 100%;
  align-items : center ;
  transform: translateX(10%) ;
}

/* Adjust margins for labels */
label {
  margin-bottom: 15px;
  justify-self: center;
  align-self: center;
}

/* Adjust margins for buttons */
button {
  margin-top: 15px;
  margin-right: 15px;
  justify-self: center;
  align-self: center;
}

body {
  display: flex;
    background-color: #15151c;
    /* color: #d4d4d4; */
    
    align-items: center;
  }
  .signupform input{
    border-radius:5px ;
  }
  
  /* Custom styles for the form */
  .card {
    background-color: #2d323d;
    color: #fff; /* Dark grey background */
  }

  select[name="sex"] {
    width: calc(100% - 20px);
    padding: 4px;
    margin-left: 6px;
  }
  
  .card-body {
    font-family: 'Times New Roman', Times, serif; /* Use Times New Roman font */
    font-size: 14px; /* Font size 14px */
  }
  
  
  /* .btn btn-primary.active {
    background-color: #075c1b; 
  } */
  .patient-btn{
    transform: translateX(450%) translateY(-100%);
    position: fixed;
 border-radius: 20px;
 color: #075c1b;
  }

  .doctor-btn{
    position: fixed;
 border-radius: 20px;
 color: #075c1b;
 transform: translateX(560%) translateY(-100%);
  }
  .signupform btn-primary{
    position: fixed;
    transition: background-color 0.3s;
 
  }
  .btn-primary{
    color: #fff;
    background-color: #505c6c;
    border-radius:20px ;
    border-color: #505c6c;
    transform: translateX(250%)
  }
  .signupform .btn-primary:hover {
    background-color: #207649; /* New background color on hover */
  }