.record-card {
    border: 1px solid rgba(59, 59, 59, 0.659);
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    color: rgba(60, 59, 59, 0.588);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.left {
    flex: 1;
    width: 45%;
    padding-left: 20px;
}

.right {
    flex: 1;
    width: 45%;
    border-left: 1px dotted rgba(0, 0, 0, 0.351);
    padding-left: 15px;
}