.selected_slot {
    background-color: rgb(255, 255, 109);
    color: black;
    margin: 4px;
    border: 1 px solid green;
    border-radius: 4px;
    padding: 5px;
}

.available_slot {
    background-color: rgba(12, 255, 17, 0.816);
    color: black;
    margin: 4px;
    border: 3 px solid rgb(247, 235, 7);
    padding: 5px;
    border-radius: 4px;
}

.unavialable_slot {
    background-color: rgba(255, 67, 67, 0.479);
    color: black;
    margin: 4px;
    border: 1 px solid rgb(255, 0, 0);
    border-radius: 4px;
    padding: 5px;
}